@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/*** FEATURE SECTION CARDS ***/

.feature-card {
  @apply flex flex-col bg-[#0F172A] rounded-[10px] overflow-hidden shadow-[0px_0px_15px_0px_#FFFFFF12,0px_25px_50px_-12px_#FFFFFF40];
}

.feature-card-container {
  @apply p-8 flex flex-col max-lg:p-4 max-[500px]:p-8;
}

.feature-card-title {
  @apply text-xl font-bold leading-[22px] mb-4 max-lg:text-2xl max-lg:text-left;
}

.feature-card-text {
  @apply max-lg:text-left;
}

.feature-card-button {
  @apply text-xl leading-6 font-medium text-center flex items-center gap-4 justify-center p-4 mt-8 border-current border-2 rounded-lg text-nowrap hover:underline max-lg:text-base max-[500px]:text-xl;
}

/*** CAROUSEL ***/

.review-card {
  @apply flex flex-col items-start p-8 max-lg:p-6 gap-4 bg-white rounded-[20px] shadow-[0px_0px_6px_0px_#00000012,0px_10px_15px_-3px_#0000001A] border border-[#E2E8F0];
  img {
    @apply max-lg:mb-2;
  }
  p {
    @apply max-lg:text-base max-lg:leading-[22.4px];
  }
  .review-card-user {
    @apply flex items-center pt-4 mt-4 max-lg:mt-2;
  }
}
.slick-slide {
  @apply w-full;
  & > div {
    @apply mx-3 max-lg:mx-2;
  }
}
.slick-track {
  @apply flex;
}

/*** COLLECTION SECTION BUTTONS ***/

.collection-button {
  @apply w-[256px] !flex text-xl items-center bg-white max-lg:shadow-[0px_0px_4px_0px_#00000012,0px_4px_6px_-1px_#0000001A] p-4 rounded-lg cursor-pointer shadow-none hover:shadow-[0px_0px_4px_0px_#00000012,0px_4px_6px_-1px_#0000001A];
  .arrow-icon {
    @apply opacity-0 w-6 ml-auto max-lg:hidden;
  }
  &:first-child {
    @apply shadow-[0px_0px_4px_0px_#00000012,0px_4px_6px_-1px_#0000001A];
    .arrow-icon {
      @apply opacity-100;
    }
  }
  &:hover .arrow-icon {
    @apply opacity-100;
  }
  .collection-button-text {
    @apply leading-6 font-medium whitespace-nowrap ml-4;
  }
}

/*** FOOTER SECTION ***/
.footer-main-link {
  @apply hover:underline py-3 leading-[17.6px] font-medium;
}
.footer-link {
  @apply hover:underline py-3 leading-[22.4px];
}
